/*FUENTES*/
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

*{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos iniciales*/
body{
    margin: 0px;
    background-color: #BBB; 
    color: #444;
}

h1{
    font-size: 1.3em;
    text-align: center;
    color: #464d52;
}

/* PARTE SUPERIOR */
#superior{
    width: 100%;
    padding: 2% 0px; /* MODIFICACIÓN 1 */
    background-color: #464d52;
}

#encabezado{
    margin: 0px auto;
    width: 80%; /* MODIFICACIÓN 2 */
    min-width: 650px; /* MODIFICACIÓN 2 */
    max-width: 960px; /* MODIFICACIÓN 2 */
}

#descripcion{
    width: 37.5%; /* MODIFICACIÓN 3 */
    height: auto; /* MODIFICACIÓN 3 */
    background-color: #888;
    float: left;
}

#descripcion p{
    margin: 5%; /* MODIFICACIÓN 4 */
    color: white;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

/* Estilos adicionales para #imgDesc */
#imgDesc {
    overflow: hidden;
}

#imgDesc img {
    float: left;
    width: 62.5%; /* MODIFICACIÓN 6 */
    height: auto; /* MODIFICACIÓN 6 */
}

/* Logo */
#superior #encabezado #logo {
    margin: 2% 0px; /* MODIFICACIÓN 5 */
    width: 21%; /* MODIFICACIÓN 5 */
}

/*Contenido principal de las paginas*/
#contenido{
    width: 80%; /* MODIFICACIÓN 7 */
    margin: 0px auto; /* MODIFICACIÓN 7 */
    min-width: 650px; /* MODIFICACIÓN 7 */
    max-width: 960px; /* MODIFICACIÓN 7 */
    clear: left;
}

/*PIE DE LA PAGINA*/
footer{
    text-align: center;
    margin: 0;
    font-size: .9em;
    line-height: 2;
    clear: both;
    background-color: #464d52;
    color: white;
    width: 100%;
}

/* CONTENIDO DE LA PAGINA INDEX*/

.plan{
    width: 26.7%; /* MODIFICACIÓN 8 */
    padding: 2%; /* MODIFICACIÓN 8 */
    background-color: white;
    margin: 30px 1.5%; /* MODIFICACIÓN 8 */
    border: solid 1px black;
    border-radius: 10px;
    float: left;
    text-align: justify;
}

.plan img {
    width: 100%; /* MODIFICACIÓN 9 */
    height: auto; /* MODIFICACIÓN 9 */
}

/* Primer div, cuarto div,.... */
#contenido div:nth-child(3n+1){
    margin-left: 0px;
}

/* Tercer div, sexto div, etc */
#contenido div:nth-child(3n){
    margin-right: 0px;
}

.boton{
    background-color: #464d52;
    padding: 7px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background 1s;

}

.boton:hover{
    background: #5077c7;

}

.boton a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
}

/* CONTENIDO DE LA PAGINA PLANES */

.planes{
    width: 94%; /* MODIFICACIÓN 10 */
    background: white;
    padding: 1% 3%; /* MODIFICACIÓN 10 */
}

.planes img {
    width: 100%; /* MODIFICACIÓN 11 */
    border-radius: 15px; /* MODIFICACIÓN 11 */
}

.planes h1{
    text-align: left;
    font-size: 1.5em;
}

.planes .precio{
    font-size: 1.1em;
    margin: 20px 0px 5px;
    padding-bottom: 15px;
    border-bottom: solid 2px grey;
    font-weight: bold;
}

/* CONTENIDO DE LA PAGINA GALERIA */
#galeria .plan p{
    text-align: center;
    font-style: italic;
}

#galeria .plan{
    font-size: 1em;
    margin: 30px 1.4% 10px; /* MODIFICACIÓN 12 */
    padding-bottom: 1px;
    display: inline-block; /* MODIFICACIÓN 12 */
    float: none; /* MODIFICACIÓN 12 */
    vertical-align: top; /* MODIFICACIÓN 12 */
}
